.left-bar {
  padding: 1rem;
  width: 19%;
  color: white;
  background: #17141F;

  &__logo {
    text-align: center;

    &--actual {
      width: 6rem;
    }
  }

  &__searchbar {
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;

    &--container {
      display: flex;
      width: 95%;
      padding: 0.4rem;
      border: 1px solid #7D5BBE;
    }

    &--icon {
      color: #898395;
    }

    &--text {
      padding: 0rem 1rem;
      background: transparent;
      border: none;
    }
  }

  &__navlist {

    &--item {
      padding: 0.5rem;
      display: flex;
    }

    &--icon {
      margin: 0rem 1rem;
    }

    &--text {
      margin: 0;
    }
  }

  &__recommended {
    padding: 1rem;
  }
}

.title {
  padding-bottom: 0.25rem;
  border-bottom: 0.25px solid #7D5BBE;
  text-transform: uppercase;
}

.item {
  display: flex;

  &__image {
    width: 2rem;
    border-radius: 0.2rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    padding: 0.25rem;

    &--large {

    }

    &--small {

    }
  }
}
