.left-bar {
  width: 19%;
  color: white;
  background: #17141F;

  &__logo {
    padding: 1rem;
    text-align: center;

    &--actual {
      width: 6rem;
    }
  }

  &__searchbar {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;

    &--container {
      display: flex;
      width: 85%;
      padding: 0.25rem;
      border: 1px solid #7D5BBE;
    }

    &--icon {
      color: #898395;
    }

    &--text {
      padding: 0rem 1rem;
      background: transparent;
      border: none;
    }
  }

  &__navlist {

    &--item {
      padding: 0.5rem;
      display: flex;
    }

    &--icon {
      margin: 0rem 1rem;
    }

    &--text {
      margin: 0;
    }
  }

  &__prime {

    &--title {
      text-transform: uppercase;
    }

    &--item {

    }
  }
}
